{
	"rules": {
		".read": false,
		".write": false,
		"users": {
			".read": "root.child('users').child('members').child(auth.uid).exists()",
			".write": "root.child('users').child('members').child(auth.uid).exists()",
			"pending": {
				"$userid": {
					".read": true,
					".write": true,
					".validate": "root.child('users').child('members').child($userid).exists() === false && auth.token.email.matches(/.*@(beeva|bbva).com$/)"
				},
			}
		},
		"tools": {
			".read": true,
			".write": "root.child('users').child('members').child(auth.uid).exists()"
		},
		"stacks": {
			".read": true,
			".write": "root.child('users').child('members').child(auth.uid).exists()"
		},
		"prototypes": {
			".read": true,
			".write": "root.child('users').child('members').child(auth.uid).exists()"
		},
	}
}