.footerBox{
	background-color: #000000;
}
.footerBackground{
	position: absolute;
}
.footerContent{
    width: 100%;
    background-color: #1d6ca4;
    padding-bottom: 2%;
}
.footerTitle{
	color: white;
	font-size: 30px;
	text-align: center;
	margin-top: 1%;
	font-weight: bold;
}
.footerSubTitle{
	color: white;
	font-size: 20px;
	text-align: center;
	margin-top: 1%;
}
.mailButtonBox{
    text-align: center;
    color: white;
	margin-top: 1%;
}
.mailButton{
	background-color: white;
	display: inline-block;
	color: #1d6ca4;
	padding: 15px 20px;
	border-radius: 30px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
}