@font-face {
    font-family: roboto;
    src: url(/labsFront/app/assets/fonts/Roboto-Regular.ttf);
}

::-webkit-scrollbar { 
    display: none; 
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #bbbbbb;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #bbbbbb;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #bbbbbb;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #bbbbbb;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #bbbbbb;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #bbbbbb;
}
body{
	overflow-x: hidden;
	font-family: 'IBM Plex Sans' !important;
  font-style: normal;
  font-weight: 300;
	margin: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased !important;
}
html, html a {
    -webkit-font-smoothing: antialiased !important;
}