.techBox{
	min-height: 450px;
	background-color: #fbfbfb;
	text-align: center;
	padding: 3% 0%;
}
.techFile{
    border-radius: 20px;
    background-color: white;
    display: inline-block;
    text-align: left;
    width: 85%;
    box-sizing: border-box;
    box-shadow: 2px 3px 7px 0px rgba(179,179,179,1);
    overflow: hidden;
}
.toolFileTitleBox, .toolFileDemoBox, .toolFileAudiovisBox, .toolFilefirstStepsBox, .toolFileLinksBox{
	padding-left: 3%;
	margin-bottom: 2%;
}
.closeFileBox {
	width: 100%;
	text-align: right;
}
.closeFileButton{
    display: inline-block;
    padding: 15px;
    cursor: pointer;
    color: #666666;
}
.closeFileIcon{
	font-size: 40px !important;
}
.toolFileTitleBox{
	width: 100%;
	text-align: left;
	margin-bottom: 1%;
}
.toolFileTag{
    display: inline-block;
    font-size: 20px;
    font-style: italic;
    color: #666666;
}
.toolFileTitle{
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: #648bff;
    margin-right: 1%;
}
.ToolFileQuote{
    color: #666666;
    font-style: italic;
    padding-left: 10%;
    margin-bottom: 3%;

}
.linksTitle, .toolFilefirstStepsTitle, .toolFileAudiovisTitle, .toolFileDemoTitle{
    margin-bottom: 1%;
    font-size: 20px;
    color: #f4b042;
    padding-left: 1%;
    width: 30%;
    border-bottom: solid 2px #f4b042;

}
.linkOption{

}
.toolFileStatus{
	background-color: #f4b042;
	color: white;
	font-size: 40px;
	text-align: center;
	padding: 3% 0%;
}