.teamBox{
    display: inline-block;
    text-align: center;
    width: 100%;
}
.teamtitle{
    font-size: 30px;
    color: #ffffff;
    text-align: left;
    padding-top: 1%;
    margin: 0% 0% 1% 10%;
    width: 50%;
    /* border-top: solid 3px #ffffff; */
}
.teamPhoto{
    display: inline-block;
    overflow: hidden;
    transform-origin: 50% 50%;
    width: 7%;
	transition: all 0.1s ease-in-out;
}
.teamPhoto:hover{
	width: 13%;
	transition: all 0.1s ease-in-out;
}
.teamPhotosides{
    width: 1%;
    transition: all 0.1s ease-in-out;
}