
.modal-mask-calendar {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    /*display: table;*/
    transition: opacity .3s ease;
  }
  
  .modal-wrapper-calendar {
    /*display: table-cell;*/
    vertical-align: middle;
  }
  
  .modal-container-calendar {
    width: 1000px;
    height: 90%;
    margin: 0px auto;
    padding: 0px 0px;
    /*background-color: #fff;*/
    border-radius: 2px;
    /*box-shadow: 0 2px 8px rgba(0, 0, 0, .33);*/
    transition: all .3s ease;
  }
  .closeCalendarButton{
      display: inline-block;
      padding: 15px;
      cursor: pointer;
      color: #ffffff;
      /*margin-right: 15%;*/
  }
  .eventsCalendar{
    display: inline-block;
    border-radius: 3px;
    max-height: 90%;
    min-height: 80%;
    width: 100%;
    background: #ffdaa2;
  }
  .calendarHeader{
    display: inline-block;
    width: 100%;
    background: #fbe7c8;
  }
  .chevronLeft{
    float: right;
    padding: 30px;
    font-size: 30px !important;
    cursor: pointer;
  }
  .chevronRight{
    float: right;
    padding: 30px;
    font-size: 30px !important;
    cursor: pointer;
  }
  .chevronRight:hover, .chevronLeft:hover{
    background: #cccccc;
    color: white;
    transition: all 0.1s ease-in-out;
  }
  .calendarHeaderMonth{
    display: inline-block;
    float: left;
    font-size: 25px;
    text-align: center;
    padding: 30px;
  }
  .calendarTable{
    color: #333333;
    width: 50%;
    /*background: white;*/
    display: inline-block;
    height: 90%;
    margin: 4% 2%;
    position: relative;
    float: left;
  }
  .calendarWeekdays{
    display: inline-block;
    list-style: none;
    width: 100%;
    padding: 0px;
    margin: 2% 0%;
    font-size: 20px;
  }
  .calendarWeekDayText{
    display: inline-block;
    width: 70px;
    float: left;
    padding-left: 8px;
    box-sizing: border-box;
  }
  .calendarDates{
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0%;
    background: #f5f5f5;
  }
  .calendarDaysText{
    display: inline-block;
    width: 70px;
    height: 70px;
    /*background: #eeeeee;*/
    float: left;
    padding: 8px;
    font-size: 10px;
    cursor: pointer;
    box-sizing: border-box;
  }
  .calendarDaysText:hover{
    background: #fbe7c8;
    color: #f9c475;
    font-size: 13px;
    font-weight: bolder;
    transition: all 0.1s ease-in-out;
  }
  .blackDay{
    display: inline-block;
    width: 70px;
    height: 70px;
    /*background: #eeeeee;*/
    float: left;
    padding: 8px;
    font-size: 10px;
    box-sizing: border-box;
    background: #cccccc;
  }
  .calendarCurrentDay{
    background: #ffdaa2;
    cursor: pointer;
  }
  .calendarEventsList{
    width: 40%;
    display: inline-block;
    position: relative;
    float: left;
    margin: 4% 2%;
  }
  .calendarEventListTitle{
    font-size: 20px;
    padding: 0px 10px;
    display: inline-block;
    width: 100%;
    position: relative;
    float: left;
  }
  .calendarEventListBox{
    font-size: 20px;
    padding: 10px;
    display: inline-block;
    width: 100%;
    position: relative;
    float: left;
  }
  .calendarEventInMonth{
    background: #fbe7c8;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 2%;
    position: relative;
    float: left;
    cursor: pointer;
  }
  .calendarEventInMonth:hover{
    background: #cccccc;
    color: #ffffff;
    transition: all 0.1s ease-in-out;
  }
  .calendarEventInMonthDate{
    font-size: 12px;
    display: inline-block;
    float: left;
    vertical-align: middle;
    padding: 10px;
  }
  .calendarEventInMonthTitle{
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    float: left;
    vertical-align: middle;
    padding: 9px;
  }
  .modal-calendar-enter {
    opacity: 0;
  }
  
  .modal-calendar-leave-active {
    opacity: 0;
  }
  
  .modal-calendar-enter .modal-container-calendar,
  .modal-calendar-leave-active .modal-container-calendar {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }