.stackBox{
	min-height: 450px;
	background-color: #fbfbfb;
	padding: 50px 5%;
	text-align: center;
	font-size: 40px;
	color: #666666;
}
.stacksCard{
	width: 250px;
	height: 250px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 2px 3px 7px 0px rgba(179,179,179,0.66);
	margin: 2% 3%; 
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	display: inline-block;
	opacity: 1;
	transform: scale(1);
	transition: all 0.1s ease-in-out;
}
.inforcardFiltered{
	opacity: 0;
	transform: scale(0);
	width: 0px;
	margin: 0%;
	transition: all 0.1s ease-in-out;
}
.infoCardImage{
	width: 60%;
	margin-top: 30px;
}
.stacksTechsList{
    width: 100%;
}
.stackName{
	font-size: 16px;
	margin-top: 15px;
}
.stackArea{
	font-size: 18px;
	margin-top: 5px;
}
.stackHeader{
    color: white;
    padding: 15px 0px;
    width: 100%;
  	font-style: normal;
  	font-weight: 500;
}

.frontAreaBack{
	/*background: linear-gradient(to right, #57a3bd 0%,#57a3bd 10%,#000000 10%,white 10%,white 100%);*/
	background-color: #57a3bd;
}
.backAreaBack{
	background-color: #e99790;
}
.miAreaBack{
	background-color: #ffff66;
	color: #666666;
}
.blockChainAreaBack{
	background-color: #49796b;
}
.IoTAreaBack{
	background-color: #663399;
}
.HCIAreaBack{
	background-color: #ff6699;
}
.stackFooter{
    color: white;
    padding: 15px 0px;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.stackStatusTitle{
	font-size: 12px;
}
.stackStatus{
	font-size: 16px;
	margin-top: 5px;
}
.prototypingStack{
	color: #ff6633;
}
.productionStack{
	color: #006666;
}