.navBox {
	width: 100%;
	background-color: #fbfbfb;
	display: inline-block;
}
.brandLine {
	width: 100%;
	display: inline-block;
	margin: 10px 0px 20px 0px;
}
.brandImage {
	width: 100%;
	float: left;
	text-align: center;
}
.calendar {
	position: absolute;
	right: 0px;
	width: 29%;
	text-align: right;
}
.calendarIcon{
	float: left;
	margin-right: 15px;
}
.calendar .button {
	color: #666666;
	box-shadow: 2px 3px 7px 0px rgba(179,179,179,0.66);
	text-align: center;
	background-color: white;
	padding: 15px 20px;
	text-align: center;
	outline: none;
	cursor: pointer;
	border: none;
	font-size: 14px;
	text-decoration: none;
	border-radius: 30px;
	margin: 40px 40px 0px 0px;
	line-height: 2;
}
.toolsMenu {
    text-align: center;
    margin: 0px 0px 30px 0px;
    font-size: 20px;
    /*position: fixed;
    top: 0px;*/
    width: 100%;
    background: #fbfbfb;
    padding: 15px 0px;
    z-index: 999;
}
.toolsMenuFixed{
	position: fixed;
	top: 0px;
}
.buttonsActive {
	color: #333333 !important;
	border-bottom: 5px solid rgba(29, 108, 164, 1) !important;
}
.toolsMenu .buttons {
	color: #999999;
	box-sizing: border-box;
	border: none;
	border-bottom: 5px solid rgba(29, 108, 164, 0); 
	background: none;
	margin: 5px 15px;
	display: inline-block;
	outline: none;
	cursor: pointer;
	padding: 1px 6px;
	font-size: 20px;
	transition: all 0.2s ease-in-out;
}
.buttons:hover {
	color: #333333;
	border-bottom: 5px solid rgba(29, 108, 164, 1);
}
.SearchBar{
	background-color: transparent;
    border: none;
    border-bottom: 2px solid #999999;
    border-radius: 0;
    outline: none;
    height: 2.2rem;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 20%;
    position: absolute;
    right: 50px;
}
.searchBarIcon{
    position: absolute;
    right: 50px;
    margin-top: 10px;
    cursor: pointer;
}
.searchResultBox{
    position: absolute;
    right: 50px;
    width: 20%;
}
.searchResult{
    width: 100%;
    float: left;
    text-align: left;
    border: solid 0.5px #999999;
    padding: 5px 10px;
    border-radius: 2px;
    background-color: #efefef;
    box-sizing: border-box;
    color: #888;
    font-size: 14px;
    cursor: pointer;
}